################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/Development/Middleware/GDINexus.Grms/.vs/GDINexus.Grms/v17
/Development/Middleware/GDINexus.Grms/ClassLibrary.Domain/bin/Debug/net9.0
/Development/Middleware/GDINexus.Grms/ClassLibrary.Domain/obj
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/GDI Nexus Relationship Management System/v17/.wsuo
/.vs/GDI Nexus Relationship Management System/v17/DocumentLayout.backup.json
/.vs/GDI Nexus Relationship Management System/v17/DocumentLayout.json
